.block-title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
// tablet
@media (min-width: @min-width-tablet) {
  .block-title {
    font-size: 43px;
    line-height: 50px;
  }
}
// desktop
@media (min-width: @min-width-desktop) {
  .block-title__sub-title {
    width: 175px;
  }
}
