.block-video {
  padding: 0 0 30px;
  border: 1px solid @border-color-light;
  width: 260px;
  margin: 0 auto 60px;
}

.block-video__title {
  height: 95px;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.block-video__video {
  margin: 0 0 35px;
}

.block-video__container-info {
  width: 210px;
  margin: 0 auto;
}

.block-video__text {
  margin: 0 auto;
  padding: 0 0 30px;
  font-size: 13px;
  line-height: 24px;
  color: @text-color-light;
}
