.catalog {
  position: relative;
  padding-top: 34px;
  padding-bottom: 30px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 8px;
    background-repeat: repeat-x;
  }
}

.catalog__block-header {
  padding-bottom: 30px;
}

.block-title__title {
  margin: 0;
  padding-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
}

.block-title__sub-title {
  margin: 0;
  color: @color-teme;
  font-size: 17px;
  line-height: 20px;
}

.catalog__text {
  margin: 0;
  padding: 0 0 30px;
  font-size: 15px;
  line-height: 24px;
  color: @text-color-light;
  letter-spacing: 0.5px;
}

.catalog__description-list {
  margin: 0;
  padding: 0 0 28px;
  list-style: none;
}

.catalog__description-item {
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  line-height: 20px;
  color: @text-color-light;
  padding: 10px 0;
  border-bottom: 1px solid @border-color-light;
}

.catalog__description-argument {
  width: 100px;
}

.catalog__img-prod {
  display: block;
  margin: 0 auto 30px;
}

.catalog__price {
  margin: 0;
  padding: 0 0 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: @text-color-light;
}
// tablet
@media (min-width: @min-width-tablet) {
  .catalog {
    padding-top: 25px;
  }

  .catalog__block-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;
  }

  .block-title__title {
    padding: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .block-title__sub-title {
    width: 100px;
    padding: 10px 0 0;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .catalog__container-header {
    display: flex;
    flex-direction: column;
  }

  .catalog__img-prod {
    position: absolute;
    right: 50px;
    top: 105px;
  }

  .catalog__text {
    padding-right: 360px;
  }

  .catalog__description-list {
    padding-right: 360px;
  }

  .catalog__container-footer {
    width: 100%;
    padding: 0 360px 0 0;
    box-sizing: border-box;
  }
}
// desktop
@media (min-width: @min-width-desktop) {
  .catalog__block-header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .catalog__description-list,
  .catalog__text {
    width: 292px;
    padding: 0 0 0 175px;
  }

  .catalog__container-footer {
    width: 468px;
    padding: 0 0 0 175px;
  }
}
