.catalog-block {
  margin: 0;
  padding: 0;
}

.catalog-block__list {
  margin: 0;
  padding: 29px 0 0;
  list-style: none;
}

.catalog-block__item {
  // for mobile
  @media (max-width: @max-width-mobile) {
    width: 260px;
  }
  margin: 0 auto 29px;
  padding: 0;

  & span,
  & svg {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

    & span {
      opacity: 0.6;
    }

    & svg {
      fill: @color-teme;
    }
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

    & span {
      opacity: 0.3;
    }

    & svg {
      fill: @color-teme;
      opacity: 0.3;
    }
  }
}

.catalog-block__img {
  display: block;
  margin: 0 auto;
}

.catalog-block__container-info {
  padding: 28px 28px 26px;
  margin: 0;
  border: 1px solid @border-color-light;
}

.catalog-block__name {
  margin: 0;
  padding: 0 0 4px;
  font-size: 17px;
  line-height: 24px;
}

.catalog-block__description {
  margin: 0;
  padding: 0 0 19px;
  font-size: 13px;
  line-height: 30px;
  color: @text-color-light;
}

.catalog-block__price {
  margin: 0;
  padding: 23px 0 0;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid @border-color-light;
}
// tablet
@media (min-width: @min-width-tablet) and (max-width: @max-width-tablet) {
  .catalog-block {
    padding: 49px 0 0;
  }

  .catalog-block__list {
    padding: 0;
  }

  .catalog-block__item {
    display: flex;
    padding: 0;
    margin: 0 auto 52px;
    border: 1px solid @border-color-light;
  }

  .catalog-block__img {
    margin: 0;
  }

  .catalog-block__container-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 26px 0 0 25px;
  }

  .catalog-block__name {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-block__description {
    font-size: 15px;
    padding: 0;
  }

  .catalog-block__price {
    margin: auto 32px 0 4px;
    padding: 21px 0 27px;
    font-size: 17px;
    line-height: 24px;
  }
}
// desktop
@media (min-width: @min-width-desktop) {
  .catalog-block {
    padding-top: 77px;
  }

  .catalog-block__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .catalog-block__item {
    padding: 0;
    margin: 0 0 28px;
    width: 316px;
    display: flex;
    flex-direction: column;

    &:nth-child(3n+2) {
      margin-left: 51px;
      margin-right: 51px;
    }
  }

  .catalog-block__container-info {
    width: 100%;
    height: 100%;
    padding: 25px 26px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .catalog-block__name {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-block__description {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 15px;
  }

  .catalog-block__price {
    margin-top: auto;
    font-size: 17px;
    line-height: 24px;
    border-top: 1px solid #ececec;
    padding: 22px 6px 26px 0;
  }
}
