.catalog-block {
  margin: 0;
  padding: 0;
}

.catalog-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-block__item {
  margin: 0;
  padding: 30px 0;
  border-bottom: 1px solid @border-color-light;
}

.catalog-block__img {
  margin: 0 0 30px;
}

.catalog-block__container-info {
  width: 205px;
  margin: 0 auto;
}

.catalog-block__name {
  margin: 0;
  padding: 0 0 20px;
  font-size: 17px;
  line-height: 24px;
}

.catalog-block__description {
  margin: 0;
  padding: 0 0 30px;
  font-size: 13px;
  line-height: 30px;
  color: @text-color-light;
}

.catalog-block__price {
  margin: 0;
}
