.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  position: relative;
  border-bottom: 1px solid @border-color-light;

  &:first-child {
    border-top: 1px solid @border-color-light;
  }

  &:last-child {
    border-bottom: none;
  }
}

.main-nav__link {
  display: inline-block;
  width: 100%;
  font-size: 17px;
  line-height: 80px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.main-nav__toggle {
  padding: 0;
  border: none;
  background-color: inherit;
  box-shadow: none;
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
}
// tablet
@media (min-width: @min-width-tablet) {
  .main-nav {
    display: inline-block;
    float: right;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: block;

    &--bottom-tablet {
      position: absolute;
      left: 30px;
      top: 100%;
      z-index: 1;
    }
  }

  .main-nav__item {
    display: inline-block;
    border: none;

    &:first-child {
      border: none;
    }
  }

  .main-nav__link {
    font-size: 17px;

    &--bottom-tablet {
      font-size: 15px;
      line-height: 65px;
    }
  }
}
