.popup {
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 12px 12px #c6c6c6;
  text-align: center;
}

.popup__block-title {
  font-size: 25px;
  line-height: 30px;
  margin: 40px 0 0;
}

.popup__block-form-toggle {
  padding-bottom: 45px;
}

.popup__fieldset {
  margin: 25px 0 0;
  border: none;
  padding: 0;
}

.popup__sub-title {
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 30px;
  color: @text-color-light;
}

.popup__block-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__checkbox {
  display: none;
}

.popup__label-checkbox {
  display: block;
  width: 80px;
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  padding: 14px 0;
  border: 2px solid @border-color-light;
  font-size: 17px;
  line-height: 16px;
  color: @text-color-light;

  &--checked {
    border-color: @color-teme;
  }
}

.popup__button {
  margin-top: 30px;
  background-color: @color-teme;
  border-color: @color-teme;
  color: #ffffff;
}
