.promo-action__link {
  display: block;
  text-decoration: none;
  padding: 27px 0 20px;
  height: 102px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;

  @media (min-width: @min-width-tablet) {
    &:hover {
      transform: translateY(-5px);
    }
  }

  &:nth-of-type(1) {
    background-color: @color-teme;

    &:hover {
      background-color: #59d5bc;
    }
  }

  &:nth-of-type(2) {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }
  }

  &:hover .promo-action__container::after {
    opacity: 0.7;
  }

  &:active .promo-action__container,
  &:active .promo-action__text {
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
  }
}

.promo-action__text {
  width: 50%;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.promo-action__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 63px;
    position: absolute;
    top: -7px;
    right: -4px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }

  &--interior::after {
    background-image: url("../img/icon-interior.svg");
  }

  &--toy::after {
    background-image: url("../img/icon-toy.svg");
  }
}
// tablet
@media (min-width: @min-width-tablet) {
  .promo-action {
    display: flex;
    padding: 0 50px;
  }

  .promo-action__container {
    padding: 0;

    &--interior::after {
      top: 0;
      right: -10px;
    }

    &--toy::after {
      top: 2px;
    }
  }

  .promo-action__link {
    width: 50%;
    height: 131px;
    padding: 29px 0 55px;
  }

  .promo-action__text {
    font-size: 19px;
    line-height: 30px;
  }
}
// desktop
@media (min-width: @min-width-desktop) {
  .promo-action {
    max-width: 1050px;
    margin: 0 auto;
  }

  .promo-action__container {
    width: 449px;
    padding-right: 172px;
    box-sizing: border-box;
  }

  .promo-action__link {
    padding: 27px 0 45px;
  }

  .promo-action__text {
    font-size: 20px;
    line-height: 30px;
  }
}
