.promo-action__link {
  display: block;
  text-decoration: none;
}

.promo-action__link:nth-of-type(1) {
  background-color: @color-teme;

  &:hover {
    background-color: #59d5bc;
  }
}

.promo-action__link:nth-of-type(2) {
  background-color: #56c3b2;

  &:hover {
    background-color: #46c1ae;
  }
}

.promo-action__text {
  width: 50%;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.promo-action__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 260px;
  margin: 0 auto;
}
