.reviews:after {
  content: "";
  display: block;
  margin-top: 45px;
  height: 8px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 8px;
  background-repeat: repeat-x;
}

.reviews__list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__text {
  margin: 40px 0 0;
}

.reviews__autor-name {
  margin: 35px 0 0;
  color: #000000;
  font-weight: bold;
}

.reviews__autor-inst {
  margin: 0;
}

.reviews__toggles {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 30px 0 0;
}

.slider__toggle {
  border: none;
  background-color: #ffffff;
  box-shadow: none;
  display: block;
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
}

.reviews__button {
  margin: 38px auto 0;
}
