body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.container {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
  color: rgba(255, 0, 0, 0);
}

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
  color: rgba(255, 0, 0, 0);
}
// tablet
@media (min-width: @min-width-tablet) {
  .container {
    padding: 0 50px;
    max-width: 1150px;
  }

  .visualy_mobile {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
  }
}
